<!DOCTYPE html>
<html lang="en" xmlns:width="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Coaching | Account settings</title>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css" rel="stylesheet"/>
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
    <script src="../../static/elements.js"></script>

    <script src="https://visjs.github.io/vis-network/standalone/umd/vis-network.min.js"></script>

    <script>
        $(document)
            .ready(function () {
                $('.ui.form')
                    .form({
                        fields: {
                            new_password: {
                                identifier: 'new_password',
                                rules: [
                                    {   type: 'regExp[/^\\S[\\S]+\\S$/]',
                                        prompt: 'Your password must NOT contain any spaces'

                                    },
                                    {   type: 'regExp[.*[A-Z]]',
                                        prompt: 'Your password must at least contain 1 capital'

                                    },
                                    {   type: 'regExp[(.*[0-9]){2}]',
                                        prompt: 'Your password must at least contain 2 digits'

                                    },
                                    {   type: 'regExp[(.*[!@#$%^&]){2}]',
                                        prompt: 'Your password must at least contain 2 special characters (!@#$%^&)'

                                    },
                                    {
                                        type: 'regExp[.{10,}]',
                                        prompt: 'Your password must at least 10 characters long'
                                    }
                                ]
                            },
                            confirm_password: {
                                identifier: 'confirm_password',
                                rules: [
                                    {
                                        type: 'empty',
                                        prompt: 'Please confirm your new password'
                                    },
                                    {
                                        type: 'match[new_password]',
                                        prompt: 'Your password confirmation does not match your new password'
                                    }
                                ]
                            }
                        }
                    })
                ;

            })
        ;
    </script>
    <link href="https://d36bmc1enj16yj.cloudfront.net/production/assets/pages/next-theme-420a2b84df4422f527df4b319c89641a8a309d6e0bdaa4deed04baed5633ea70.css"
          media="screen"
          rel="stylesheet"/>
</head>
<body style="background-color: cadetblue">

<div class="ui secondary pointing menu" style="background-color:white">
    <a class="item">
        <img class="image" src="../ycnlogo.png">
    </a>
    <a class="item" href="dashboard">
        Dashboard
    </a>
    <a class="item" href="coursespage">
        Courses
    </a>
    <a class="item active" href="personaleducationplanpage">
        Personal Education Plan
    </a>
    <a class="item" href="agendapage">
        Calendar
    </a>
    <a class="item" href="contactdetails">
        Contact Details
    </a>

    <div class="right menu">
        <a class="ui item" href="login">
            Logout
        </a>
    </div>
</div>

<div>
    <h1 class="ui block header"
        style="padding: 10px; margin-left: 25px; margin-right: 25px; margin-top: 10px; margin-bottom: 10px">Account
        settings</h1>
</div>
<form class="ui form segment" method="post" action="/changepassword">
    <p>Change Password</p>
    <div class="two fields">
        <div class="field">
            <label>New Password</label>
            <input placeholder="New Password" name="new_password" type="password">
        </div>
        <div class="field">
            <label>Confirm New Password</label>
            <input placeholder="Confirm New Password" name="confirm_password" type="password">
        </div>
    </div>
    <div class="ui primary submit button">Change</div>
    <div class="ui error message"></div>
</form>


</body>
</html>