<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Coaching | Hardskills</title>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css" rel="stylesheet"/>
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>

    <script src="https://visjs.github.io/vis-network/standalone/umd/vis-network.min.js"></script>


    <link href="https://d36bmc1enj16yj.cloudfront.net/production/assets/pages/next-theme-420a2b84df4422f527df4b319c89641a8a309d6e0bdaa4deed04baed5633ea70.css"
          media="screen"
          rel="stylesheet"/>

</head>
<body style="background-color: cadetblue">

<div class="ui secondary pointing menu" style="background-color:white">
    <a class="item">
        <img class="image" src="../ycnlogo.png">
    </a>
    <a class="item" href="dashboard">
        Dashboard
    </a>
    <a class="item active" href="/trainee/courses">
        Courses
    </a>
    <a class="item" href="/trainee/personaleducationplanpage">
        Personal Education Plan
    </a>
    <a class="item" href="/trainee/calendar">
        Calendar
    </a>
    <a class="item" href="/trainee/contactdetails">
        Contact Details
    </a>

    <div class="right menu">
        <a class="ui item" href="/login">
            Logout
        </a>
    </div>
</div>



<div class="ui center aligned grid" style="margin-left:20px; margin-right:20px;">
    <div class="center aligned two column row">
        <div class="column" >
            <div class="ui segment">
                <div class="ui list">
                    <div class="item">
                        <i class="folder icon"></i>
                        <div class="content">
                            <div class="header">Java</div>
                            <div class="description">Backend Development</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="ui segment">
                <div class="ui list">
                    <div class="item">
                        <i class="folder icon"></i>
                        <div class="content">
                            <div class="header">Spring</div>
                            <div class="description">Coupling Web-Java</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="center aligned two column row">
        <div class="column">
            <div class="ui segment">
                <div class="ui list">
                    <div class="item">
                        <i class="folder icon"></i>
                        <div class="content">
                            <div class="header">SQL</div>
                            <div class="description">DataBase usage</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="ui segment">
                <div class="ui list">
                    <div class="item">
                        <i class="folder icon"></i>
                        <div class="content">
                            <div class="header">IREB</div>
                            <div class="description">Requirements Engineering</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="center aligned two column row">
        <div class="column">
            <div class="ui segment">
                <div class="ui list">
                    <div class="item">
                        <i class="folder icon"></i>
                        <div class="content">
                            <div class="header">HTML</div>
                            <div class="description">Hyper Text Markup Language</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="ui segment">
                <div class="ui list">
                    <div class="item">
                        <i class="folder icon"></i>
                        <div class="content">
                            <div class="header">ISTQB</div>
                            <div class="description">Testing</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
</body>
</html>