<div th:fragment="header" class="ui secondary pointing menu" style="background-color:white">
    <a class = "item">
        <img src="../ycnlogo.png" class="image">
    </a>
    <a class="item active" href="/dashboard">
        Dashboard
    </a>
    <a class="item" href="/trainee/courses">
        Courses
    </a>
    <a class="item" href="/trainee/personaleducationplanpage">
        Personal Education Plan
    </a>
    <a class="item" href="/trainee/calendar">
        Calendar
    </a>
    <a class="item" href="/trainee/contactdetails">
        Contact Details
    </a>
    <a class="ui item" href="/trainee/accountsettings">
        Account Settings
    </a>

    <div class="right menu">
        <a class="ui item" href="/logout">
            Logout
        </a>
    </div>
</div>