<div th:fragment="header" class="ui secondary pointing menu" style="background-color:white"
     xmlns:th="http://www.w3.org/1999/xhtml">
    <a class = "item">
        <img src="../ycnlogo.png" class="image">
    </a>
    <a class="item" id="dashboard" href="/trainee/dashboard">
        Dashboard
    </a>
    <a class="item" id="courses" href="/trainee/courses">
        Courses
    </a>
    <a class="item" id="personaleductionplanpage" href="/trainee/personaleducationplanpage">
        Personal Education Plan
    </a>
    <a class="item" id="calendar" href="/trainee/calendar">
        Calendar
    </a>
    <a class="item" id="contactdetails" href="/trainee/contactdetails">
        Contact Details
    </a>
    <a class="ui item" id="accountsettings" href="/trainee/accountsettings">
        Account Settings
    </a>

    <div class="right menu">
        <a class="ui item" href="/logout">
            Logout
        </a>
    </div>
</div>