<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Coaching | Agenda</title>

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css"/>
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>

    <script src="https://visjs.github.io/vis-network/standalone/umd/vis-network.min.js"></script>
    <script src="../../static/elements.js"></script>

</head>
<body style="background-color: cadetblue">

<div class="ui secondary pointing menu" style="background-color:white">
    <a class = "item">
        <img src="../ycnlogo.png" class="image">
    </a>
    <a class="item" href="dashboardpage">
        Dashboard
    </a>
    <a class="item" href="hardskillspage">
        Courses
    </a>
    <a class="item" href="softskillspage">
        Personal Education Plan
    </a>
    <a class="item active" href="agendapage">
        Agenda
    </a>
    <a class="item" href="gegevenspage">
        Gegevens
    </a>

    <div class="right menu">
        <a class="ui item" href="loginpage">
            Logout
        </a>
    </div>
</div>

<div class="ui calendar" id="inline_calendar">
</div>
<div class="item" >
    <img src="../agenda.png" class="image">

</div>
</body>
</html>