<!DOCTYPE html>
<html lang="en">
<!--      xmlns:sec="http://www.w3.org/1999/xhtml"-->
<!--      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"  >-->
<head>
    <meta charset="UTF-8">
    <title>Welcome!</title>
</head>
<body>
<!--<div sec:authorize="hasRole('USER')">-->
<!--    <p>You are a user.</p>-->
<!--</div>-->

<!--<div sec:authorize="hasRole('ADMIN')">-->
<!--    <p>You are a admin.</p>-->
<!--</div>-->
<!--<div sec:authorize="isAuthenticated()  ">-->
<!--<span sec:authentication="authorities"></span>-->
<!--<span sec:authentication="name"></span>-->
<!--</div>-->
<div>Welcome on Mobile!!</div>
</body>
</html>