<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Coaching | HR-Employee | Dashboard</title>

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css" rel="stylesheet"/>
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>

    <script src="https://visjs.github.io/vis-network/standalone/umd/vis-network.min.js"></script>
    <script src="../../static/elements.js"></script>

</head>
<body style="background-color: darkslategray">

<div class="ui one column doubling grid center aligned  stackable  container">

    <form class="ui form" style="position:absolute; top:200px">
        <div class="ui stacked segment center aligned" >
            <div class="field">
                <h2 class="ui teal image header">
                    <img src="../ycnlogo.png" class="image">
                    <div class="content">
                        Error!
                    </div>
                    <h1>Something went wrong.</h1>
                </h2>
            </div>

            <div>
                <a href="/logout" class="ui fluid large teal submit button" type="submit">Go Home!</a>
            </div>

        </div>
    </form>

</div>

</body>
</html>