<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HR-Employee | Bootcamps</title>

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css"/>
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>

    <script src="https://visjs.github.io/vis-network/standalone/umd/vis-network.min.js"></script>
    <script src="../../static/elements.js"></script>
</head>


<body style="background-color: cadetblue">

<div class="ui secondary pointing menu" style="background-color:white">
    <a class = "item">
        <img src="ycnlogo.png"  class = "image">
    </a>
    <a class="item" href="dashboardpage">
        Dashboard
    </a>
    <a class="item" href="teams">
        Teams
    </a>
    <a class="item" href="users">
        Users
    </a>
    <a class="item active" href="bootcamps">
        Bootcamps
    </a>
    <a class="item" href="skills">
        Skills
    </a>
    <a class="item" href="calendar">
        Calendar
    </a>

    <div class="right menu">
        <a class="ui item" href="login">
            Logout
        </a>
    </div>
</div>

<div class="ui segment">
    <div>
        <h1>Running Bootcamps</h1>
    </div>

    <div class="ui tiny icon message">
        <i class="compass icon"></i>
        <div class="content">
            <div class="header">
                DevOps-03-19
            </div>
            <p>5 trainees, Started November 18th, due to finish January 21st 2020</p>
        </div>
        <i class="edit icon"></i>
        <i class="share icon"></i>
    </div>

    <div class="ui tiny icon message">
        <i class="terminal icon"></i>
        <div class="content">
            <div class="header">
                Java-02-19
            </div>
            <p>6 trainees, Started November 18th 2019, due to finish January 2nd 2019</p>
        </div>
        <i class="edit icon"></i>
        <i class="share icon"></i>
    </div>

    <div class="ui tiny icon message">
        <i class="database icon"></i>
        <div class="content">
            <div class="header">
               BigData-02-19
            </div>
            <p>4 trainees, Started December 8th 2019, due to finish 2nd of February 2020</p>
        </div>
        <i class="edit icon"></i>
        <i class="share icon"></i>
    </div>

    <div>
        <button class="ui fluid large teal submit button" type="submit">+ add Running Bootcamp</button>
    </div>
</div>



<div class="ui segment">
    <div>
        <h1>Finished Bootcamps</h1>
    </div>

    <div class="ui tiny icon message">
        <i class="compass icon"></i>
        <div class="content">
            <div class="header">
                DevOps-02-19
            </div>
            <p>6 trainees, Started May 8th 2019, finished July 11th 2019</p>
        </div>
        <i class="edit icon"></i>

    </div>

    <div class="ui tiny icon message">
        <i class="compass icon"></i>
        <div class="content">
            <div class="header">
                DevOps-01-19
            </div>
            <p>7 trainees, Started January 18th 2019, finished March 21st 2019</p>
        </div>
        <i class="edit icon"></i>

    </div>

    <div class="ui tiny icon message">
        <i class="terminal icon"></i>
        <div class="content">
            <div class="header">
                Java-01-19
            </div>
            <p>6 trainees, Started April 12th 2019, finished June 24th 2019</p>
        </div>
        <i class="edit icon"></i>

    </div>

    <div class="ui tiny icon message">
        <i class="database icon"></i>
        <div class="content">
            <div class="header">
                BigData-01-19
            </div>
            <p>5 trainees, Started August 12th 2019, finished Oktober 24th 2019</p>
        </div>
        <i class="edit icon"></i>

    </div>

</div>


</body>
</html>