<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>HR-Employee | Bootcamps</title>

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css"/>
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>

    <script src="https://visjs.github.io/vis-network/standalone/umd/vis-network.min.js"></script>
    <script src="../../static/elements.js"></script>
</head>


<body style="background-color: cadetblue">

<div class="ui secondary pointing menu" style="background-color:white">
    <a class="item">
        <img src="../ycnlogo.png" class="image">
    </a>
    <a class="item" href="dashboard">
        Dashboard
    </a>
    <a class="item" href="/hremployee/teams">
        Teams
    </a>
    <a class="item" href="/hremployee/users">
        Users
    </a>
    <a class="item active" href="/hremployee/bootcamps">
        Bootcamps
    </a>
    <a class="item" href="/hremployee/skills">
        Skills
    </a>
    <a class="item" href="/hremployee/hrcalendar">
        Calendar
    </a>

    <div class="right menu">
        <a class="ui item" href="/logout">
            Logout
        </a>
    </div>
</div>

<div class="ui segment" style="margin-left: 25px; margin-right: 25px;">
    <div class="center aligned two column row">

        <div class="column">
            <div class="ui segment">
                <h1>Active Bootcamps</h1>

                <div class="ui divider"></div>

                <div class="content" th:each="bootcamp:${activeBootcamps}">

                    <div class="ui grid">

                        <div class="one wide center aligned column">
                            <i class="large newspaper icon"></i>
                        </div>


                        <div class="three wide column">
                            <h4><span th:text="${bootcamp.bootcampName}"></span></h4>
                        </div>


                        <div class="four wide column">
                            <h5><span th:text="${bootcamp.courseList}"></span></h5>
                        </div>


                        <div class="four wide column">
                            <div th:each="trainee, iterStat:*{bootcamp.getTrainees()}">
                                <h5>
                                    <span th:text="!${iterStat.last} ? ${trainee.firstName + ' ' + trainee.lastName} + ',' : ${trainee.firstName + trainee.lastName}"></span>
                                </h5>
                            </div>
                        </div>

                        <div class="two wide center aligned column">
                            <form class="ui form" method="get" th:action="@{'/hremployee/editbootcamp/' + ${bootcamp.bootcampName}}">
                                <button class="ui orange inverted button">Edit</button>
                            </form>
                        </div>

                        <div class="two wide center aligned column">
                            <form class="ui form" method="post" th:action="@{'/hremployee/setactivationbootcamp/' + ${bootcamp.bootcampName}}">
                                <button class="ui orange inverted button">Finish</button>
                            </form>
                        </div>
                    </div>
                    <div class="ui divider"></div>
                </div>
                <div>
                    <a class="item" href="/createbootcamp">
                        <button class="ui fluid large teal submit button" type="submit">+ add Running Bootcamp</button>
                    </a>
                </div>
            </div>
        </div>

        <div class="ui orange divider"></div>

        <div class="column">
            <div class="ui segment">
                <h1>Finished Bootcamps</h1>

                <div class="ui divider"></div>

                <div class="content" th:each="bootcamp:${finishedBootcamps}">

                    <div class="ui grid">

                        <div class="one wide center aligned column">
                            <i class="large newspaper icon"></i>
                        </div>


                        <div class="three wide column">
                            <h4><span th:text="${bootcamp.bootcampName}"></span></h4>
                        </div>


                        <div class="three wide column">
                            <h5><span th:text="${bootcamp.courseList}"></span></h5>
                        </div>


                        <div class="three wide column">
                            <div th:each="trainee, iterStat:*{bootcamp.getTrainees()}">
                                <h5>
                                    <span th:text="!${iterStat.last} ? ${trainee.firstName + ' ' + trainee.lastName} + ',' : ${trainee.firstName + trainee.lastName}"></span>
                                </h5>
                            </div>
                        </div>

                        <div class="two wide center aligned column">
                            <form class="ui form" method="get" th:action="@{'/hremployee/editbootcamp/' + ${bootcamp.getName()}}">
                                <button class="ui orange inverted button">Edit</button>
                            </form>
                        </div>

                        <div class="two wide center aligned column">
                            <form class="ui form" method="post" th:action="@{'/hremployee/setactivationbootcamp/' + ${bootcamp.getName()}}">
                                <button class="ui orange inverted button">Reactivate</button>
                            </form>
                        </div>

                        <div class="two wide center aligned column">
                            <form class="ui form" method="post">
                                <button class="ui orange inverted button">Delete</button>
                            </form>
                        </div>
                    </div>
                    <div class="ui divider"></div>


                </div>

            </div>
        </div>


        <div>
            <a class="item" href="/hremployee/addbootcamp">
                <button class="ui fluid large teal submit button" type="submit">+ add Running Bootcamp</button>
            </a>
        </div>
    </div>


</div>
</body>
</html>