<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HR-Employee | Calendar</title>

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css"/>
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>

    <script src="https://visjs.github.io/vis-network/standalone/umd/vis-network.min.js"></script>
    <script src="../../static/elements.js"></script>
</head>


<body style="background-color: cadetblue">

<div class="ui secondary pointing menu" style="background-color:white">
    <a class = "item">
        <img src="ycnlogo.png"  class = "image">
    </a>
    <a class="item" href="dashboardpage">
        Dashboard
    </a>
    <a class="item" href="teams">
        Teams
    </a>
    <a class="item" href="users">
        Users
    </a>
    <a class="item" href="bootcamps">
        Bootcamps
    </a>
    <a class="item" href="skills">
        Skills
    </a>
    <a class="item active" href="calendar">
        Calendar
    </a>

    <div class="right menu">
        <a class="ui item" href="login">
            Logout
        </a>
    </div>
</div>

</body>
</html>