<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title >Coaching | HR-Employee | Dashboard</title>

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css"/>
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>

    <script src="https://visjs.github.io/vis-network/standalone/umd/vis-network.min.js"></script>
    <script src="../../static/elements.js"></script>

</head>
<body style="background-color: cadetblue">

<div class="ui secondary pointing menu" style="background-color:white">
    <a class = "item">
        <img src="../ycnlogo.png" class="image">
    </a>
    <a class="item active" href="dashboardpage">
        Dashboard
    </a>
    <a class="item" href="teams">
        Teams
    </a>
    <a class="item" href="users">
        Users
    </a>
    <a class="item" href="bootcamps">
        Bootcamps
    </a>
    <a class="item" href="skills">
        Skills
    </a>
    <a class="item" href="hrcalendar">
        Calendar
    </a>

    <div class="right menu">
        <a class="ui item" href="login">
            Logout
        </a>
    </div>
</div>
<div id="grid" class="ui center aligned grid" style="margin-left:20px; margin-right:20px;">

            <div class="center aligned two column row">
                <div class="column">

                    <div  class="ui segment">
                        <i class="cubes large icon"></i>
                        <h2 id="Teams">Teams</h2>
                        <p>DevOps-01-19</p>
                        <p>DevOps-02-19</p>
                        <p>BigData-01-19</p>
                        <p>Java-02-19</p>
                        <p>Java-01-19</p>

                    </div>
                </div>

                <div class="column">

                    <div class="ui segment">
                        <i class="newspaper large icon"></i>
                        <h2>Bootcamps</h2>
                        <p>DevOps-03-19</p>
                        <p>DevOps-02-19</p>
                        <p>DevOps-01-19</p>
                        <p>Java-02-19</p>
                        <p>BigData-01-19</p>
                    </div>
                </div>
            </div>

            <div class="center aligned two column row">
                <div class="column">

                    <div class="ui segment">
                        <i class="envelope large icon"></i>
                        <h2>New Users</h2>
                        <p>- Luuk Wempe</p>
                        <p>- Simone Meijers</p>
                        <p>- Naomi Goedhart</p>
                        <p>- Jeroen de Jong</p>
                        <p>- Vuong Ngo</p>
                    </div>
                </div>

                <div class="column">

                    <div class="ui segment">
                        <i class="id card large icon"></i>
                        <h2>Contact Details</h2>
                        <p>Name: Wouter Abels</p>
                        <p>Date of Birth: 24-06-1997</p>
                        <p>Role: HR-Employee</p>
                        <p>Address: Nieuwegein, Nederland</p>
                    </div>
                </div>
            </div>

            <div class="center aligned two column row">

                <div class="column">
                <div class="ui segment">
                    <i class="id card large icon"></i>
                    <h2>Contact Details</h2>
                    <p>Name: Wouter Abels</p>
                    <p>Date of Birth: 24-06-1997</p>
                    <p>Role: HR-Employee</p>
                    <p>Employed since: 02-11-2019</p>
                    <p>Address: Nieuwegein, Nederland</p>
                </div>
                </div>

                <div class="column">

                </div>
            </div>
</div>
</body>
</html>