<div th:fragment="header" class="ui secondary pointing menu" style="background-color:white"
     xmlns:th="http://www.w3.org/1999/xhtml">
    <a class = "item">
        <img src="../ycnlogo.png" class="image">
    </a>
    <a class="item" id="dashboard" href="/hremployee/dashboard">
        Dashboard
    </a>
    <a class="item" id="teams" href="/hremployee/teams">
        Teams
    </a>
    <a class="item" id="users" href="/hremployee/users">
        Users
    </a>
    <a class="item" id="bootcamps" href="/hremployee/bootcamps">
        Bootcamps
    </a>
    <a class="item" id="skills" href="/hremployee/skills">
        Skills
    </a>
    <a class="ui item" id="hrcalendar" href="/hremployee/hrcalendar">
        Calendar
    </a>

    <div class="right menu">
        <a class="ui item" href="/logout">
            Logout
        </a>
    </div>
</div>