<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Coaching | HR-Employee | Dashboard</title>

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css" rel="stylesheet"/>
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>

    <script src="https://visjs.github.io/vis-network/standalone/umd/vis-network.min.js"></script>
    <script src="../../static/elements.js"></script>

</head>
<body style="background-color: cadetblue">

<div th:insert="~{/hremployee/header :: header}"></div>
<script>$('#dashboard').addClass('active');</script>

<div class="ui center aligned grid" id="grid" style="margin-left:11px; margin-right:11px; margin-top: 1px" >

    <div class="center aligned two column row">
        <div class="column">
            <div class="ui segment">
                <form action="/hremployee/bootcamps" class="ui form" method="get" style="margin-bottom: 10px">
                    <button class="ui mini icon teal message button">
                        <div class="content">
                            <h2><span>Active Bootcamps</span></h2>
                        </div>
                    </button>
                </form>

                <form class="ui form" method="get" th:action="@{'/hremployee/editbootcamp/' + ${bootcamps.bootcampName}}"
                      th:each="bootcamps:${activeBootcamps}">
                    <button class="ui mini icon message button">
                        <div class="content">
                            <h3><span th:text="${bootcamps.bootcampName}"></span></h3>
                        </div>
                    </button>
                </form>
            </div>

        </div>

        <div class="column">

            <div class="ui segment">
                <form action="/hremployee/users/" class="ui form" method="get" style="margin-bottom: 10px">
                    <button class="ui mini icon teal message button">
                        <div class="content">
                            <h2><span>Trainees</span></h2>
                        </div>
                    </button>
                </form>

                <form class="ui form" method="get" th:action="@{'/hremployee/appuserinfo/' + ${trainee.username}}"
                      th:each="trainee:${trainees}">
                    <button class="ui mini icon message button">
                        <div class="content">
                            <h3><span th:text="${trainee.firstName} + ' ' + ${trainee.lastName}"></span></h3>
                        </div>
                    </button>
                </form>
            </div>
        </div>
    </div>


    <div class="center aligned two column row">

        <div class="column">

            <div class="ui segment">
                <form class="ui form" style="margin-bottom: 10px">
                    <button class="ui mini icon teal message button">
                        <div class="content">
                            <h2><span>Notifications</span></h2>
                        </div>
                    </button>
                </form>

                <i class=" huge wrench icon" style="margin:40px; color: #888888"></i>
                <p>Under construction</p>
            </div>

        </div>

        <div class="column">

            <div class="ui segment">
                <form class="ui form" method="get" style="margin-bottom: 10px"
                      th:action="@{'/hremployee/appuserinfo/' + ${user.username}}">
                    <button class="ui mini icon teal message button">
                        <div class="content">
                            <h2><span>Contact Details</span></h2>
                        </div>
                    </button>
                </form>
                <p th:text="'Name: ' + ${user.firstName} + ' ' + ${user.lastName}"></p>
                <p th:text="'Day of birth: ' + ${user.dateofbirth}"></p>
                <p th:text="'Email: ' + ${user.email}"></p>
                <p th:text="'Telephone number: ' + ${user.telephonenumber}"></p>
                <p th:text="'Address: ' + ${user.street} + ' ' + ${user.streetNr} + ', ' + ${user.zipcode} + ', ' + ${user.city}"></p>
            </div>
        </div>

    </div>

</div>
</body>
</html>