<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>HR-Employee | Skills</title>

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css" rel="stylesheet"/>
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>

    <script src="https://visjs.github.io/vis-network/standalone/umd/vis-network.min.js"></script>
    <script src="../../static/elements.js"></script>

</head>
<body style="background-color: cadetblue">

<div th:insert="~{/hremployee/header :: header}"></div>
<script>$('#skills').addClass('active');</script>

<div class="ui segment" style="margin-left: 25px; margin-right: 25px;">
    <div>
        <h1>Softskills</h1>
    </div>

    <div class="ui mini icon message" th:each="softskills : ${softskillslist}">
        <i class="tiny newspaper icon"></i>
        <div class="content">
            <h3><span th:text="${softskills.name}"></span></h3>
        </div>

<!--        <form class="ui form" method="get" th:action="@{'/hremployee/softskilledit/' + ${softskill.name}}">-->

            <button class="ui orange inverted button" ><i class ="centered edit icon"></i></button>
        </form>
    </div>
    <div>
        <a class="item" href="createsoftskillform">
            <button class="ui fluid large teal submit button" type="submit">+ add Softskill</button>
        </a>
    </div>
</div>


</div>

<div class="ui segment" style="margin-left: 25px; margin-right: 25px;">
    <div>
        <h1>Courses</h1>
    </div>

    <div class="ui mini icon message" th:each="course : ${courseslist}">
        <i class="tiny newspaper icon"></i>
        <div class="content">
            <h3>
                <span th:text="${course.name}"></span></h3>
        </div>
<!--        <form class="ui form" method="get" th:action="@{'/hremployee/softskilledit/' + ${course.name}}">-->

            <button class="ui orange inverted button" ><i class ="centered edit icon"></i></button>
        </form>
    </div>
    <div>
        <a class="item" href="createsoftskillform">
            <button class="ui fluid large teal submit button" type="submit">+ add Softskill</button>
        </a>
    </div>
</div>


</body>
</html>