<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

>
<head>
    <meta charset="UTF-8">
    <title>HR-Employee | Skills</title>

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css" rel="stylesheet"/>
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>

    <script src="https://visjs.github.io/vis-network/standalone/umd/vis-network.min.js"></script>
    <script src="../../static/elements.js"></script>

</head>
<body style="background-color: cadetblue">

<div class="ui secondary pointing menu" style="background-color:white">
    <a class="item">
        <img class="image" src="../ycnlogo.png">
    </a>
    <a class="item" href="dashboard">
        Dashboard
    </a>
    <a class="item" href="/hremployee/teams">
        Teams
    </a>
    <a class="item" href="/hremployee/users">
        Users
    </a>
    <a class="item" href="/hremployee/bootcamps">
        Bootcamps
    </a>
    <a class="item active" href="/hremployee/skills">
        Skills
    </a>
    <a class="item" href="/hremployee/hrcalendar">
        Calendar
    </a>

    <div class="right menu">
        <a class="ui item" href="/logout">
            Logout
        </a>
    </div>
</div>

<div class="ui segment" style="margin-left: 25px; margin-right: 25px;">
    <div>
        <h1>Softskills</h1>
    </div>

    <div class="ui mini icon message" th:each="hremployee:${hremployees}">
        <i class="tiny newspaper icon"></i>
        <div class="content">
            <h3><span th:text="${hremployee.username}"></span></h3>
        </div>
        <i class="right floated tiny edit icon"></i>
    </div>


    <div>
        <a class="item" href="createsoftskillform">
            <button class="ui fluid large teal submit button" type="submit">+ add Softskill</button>
        </a>
    </div>
</div>


<div class="ui segment" style="margin-left: 25px; margin-right: 25px;">
    <div>
        <h1>Softskills</h1>
    </div>

    <div class="ui tiny icon message">
        <i class="balance scale icon"></i>
        <div class="content">
            <div class="header">
                Leadership
            </div>
            <p>Ability to guide the people around you and to enhance productivity</p>
        </div>
        <i class="edit icon"></i>
        <i class="trash alternate icon"></i>
    </div>

    <div class="ui tiny icon message">
        <i class="volume up icon"></i>
        <div class="content">
            <div class="header">
                Communication
            </div>
            <p>Ability to effectively exchange information </p>
        </div>
        <i class="edit icon"></i>
        <i class="trash alternate icon"></i>
    </div>

    <div class="ui tiny icon message">
        <i class="handshake icon"></i>
        <div class="content">
            <div class="header">
                Collaboration
            </div>
            <p>Ability to work together with other people</p>
        </div>
        <i class="edit icon"></i>
        <i class="trash alternate icon"></i>
    </div>

    <div>
        <a class="item" href="createsoftskillform">
            <button class="ui fluid large teal submit button" type="submit">+ add Softskill</button>
        </a>
    </div>
</div>

<div class="ui segment" style="margin-left: 25px; margin-right: 25px;">
    <div>
        <h1>Courses</h1>
    </div>

    <div class="ui tiny icon message">
        <i class="gripfire icon"></i>
        <div class="content">
            <div class="header">
                Java
            </div>
            <p>Object Orientated Programming language frequently used in software development</p>
        </div>
        <i class="edit icon"></i>
        <i class="trash alternate icon"></i>
    </div>

    <div class="ui tiny icon message">
        <i class="linux icon"></i>
        <div class="content">
            <div class="header">
                Linux
            </div>
            <p>Operating System frequently used by software developers</p>
        </div>
        <i class="edit icon"></i>
        <i class="trash alternate icon"></i>
    </div>

    <div class="ui tiny icon message">
        <i class="database icon"></i>
        <div class="content">
            <div class="header">
                SQL
            </div>
            <p>Structured Query Language, language used to interact with databases</p>
        </div>
        <i class="edit icon"></i>
        <i class="trash alternate icon"></i>
    </div>

    <div>
        <a class="item" href="createCourseform">
            <button class="ui fluid large teal submit button" type="submit">+ add Course</button>
        </a>
    </div>
</div>


</body>
</html>