<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>HR-Employee | Skills</title>

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css"/>
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>

    <script src="https://visjs.github.io/vis-network/standalone/umd/vis-network.min.js"></script>
    <script src="../../static/elements.js"></script>

</head>
<body style="background-color: cadetblue">

<div class="ui secondary pointing menu" style="background-color:white">
    <a class = "item">
        <img src="../ycnlogo.png" class="image">
    </a>
    <a class="item" href="dashboardpage">
        Dashboard
    </a>
    <a class="item" href="teams">
        Teams
    </a>
    <a class="item" href="users">
        Users
    </a>
    <a class="item" href="bootcamps">
        Bootcamps
    </a>
    <a class="item active" href="skills">
        Skills
    </a>
    <a class="item" href="hrcalendar">
        Calendar
    </a>

    <div class="right menu">
        <a class="ui item" href="login">
            Logout
        </a>
    </div>
</div>

<div class="ui segment" style="margin-left: 25px; margin-right: 25px;">
    <div>
        <h1>Softskills</h1>


    </div>

    <div class="ui tiny icon message">
        <i class="balance scale icon"></i>
        <div class="content">
            <div class="header">
                Leadership
            </div>
            <p>Ability to guide the people around you and to enhance productivity</p>
        </div>
        <i class="edit icon"></i>
        <i class="trash alternate icon"></i>
    </div>

    <div class="ui tiny icon message">
        <i class="volume up icon"></i>
        <div class="content">
            <div class="header">
                Communication
            </div>
            <p>Ability to effectively exchange information </p>
        </div>
        <i class="edit icon"></i>
        <i class="trash alternate icon"></i>
    </div>

    <div class="ui tiny icon message">
        <i class="handshake icon"></i>
        <div class="content">
            <div class="header">
                Collaboration
            </div>
            <p>Ability to work together with other people</p>
        </div>
        <i class="edit icon"></i>
        <i class="trash alternate icon"></i>
    </div>

    <div>
        <a class="item" href="createsoftskillform">
        <button class="ui fluid large teal submit button" type="submit">+ add Softskill</button>
        </a>
    </div>
</div>

<div class="ui segment" style="margin-left: 25px; margin-right: 25px;">
    <div>
        <h1>Courses</h1>
    </div>

    <div class="ui tiny icon message">
        <i class="gripfire icon"></i>
        <div class="content">
            <div class="header">
                Java
            </div>
            <p>Object Orientated Programming language frequently used in software development</p>
        </div>
        <i class="edit icon"></i>
        <i class="trash alternate icon"></i>
    </div>

    <div class="ui tiny icon message">
        <i class="linux icon"></i>
        <div class="content">
            <div class="header">
                Linux
            </div>
            <p>Operating System frequently used by software developers</p>
        </div>
        <i class="edit icon"></i>
        <i class="trash alternate icon"></i>
    </div>

    <div class="ui tiny icon message">
        <i class="database icon"></i>
        <div class="content">
            <div class="header">
                SQL
            </div>
            <p>Structured Query Language, language used to interact with databases</p>
        </div>
        <i class="edit icon"></i>
        <i class="trash alternate icon"></i>
    </div>

    <div>
        <a class="item" href="createCourseform">
            <button class="ui fluid large teal submit button" type="submit">+ add Course</button>
        </a>
    </div>


</div>

<!--<div>-->
<!--    <h1 class="ui block header" style="padding: 10px; margin-left: 25px; margin-right: 25px; margin-top: 10px; margin-bottom: 10px"> Softskills-->
<!--        <a class="item" href="createsoftskillform">-->
<!--            <button type="submit" class="ui right floated button">+ add softskill</button>-->
<!--        </a>-->
<!--    </h1>-->
<!--</div>-->

<!--<div class="ui grid" style="margin-left: 20px; margin-right: 20px;">-->
<!--    <div class="five wide column">-->
<!--        <div class="ui vertical fluid tabular menu">-->
<!--            <a class="item"></a>-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="eleven wide stretched column">-->
<!--        <div class="ui segment">-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
<!--<br>-->
<!--<br>-->
<!--<div>-->
<!--    <h1 class="ui block header" style="padding: 10px; margin-left: 25px; margin-right: 25px; margin-top: 10px; margin-bottom: 10px">-->
<!--        Hardskills-->
<!--        <a class="item" href="personalhardskillform">-->
<!--            <button type="submit" class="ui right floated button">+ add hardskill</button>-->
<!--        </a>-->
<!--    </h1>-->
<!--</div>-->

<!--<div class="ui grid" style="margin-left: 20px; margin-right: 20px;">-->
<!--    <div class="five wide column">-->
<!--        <div class="ui vertical fluid tabular menu">-->
<!--            <a th:href="'dashboardpages/personaleducationplanpage?name=' + ${hardskill.name}" class="item" th:each="hardskill : ${hardskillList}" >-->
<!--                <p>-->
<!--                    <span th:text="${hardskill.name}"></span>-->
<!--                </p>-->
<!--            </a>-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="eleven wide stretched column">-->
<!--        <div class="ui segment" >-->
<!--            <p th:each="pep : ${personalHardskill}">-->
<!--                <span th:text="${pep.report}"></span>-->
<!--            </p>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->

</body>
</html>