<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HR-Employee | Teams</title>
</head>

<div class="ui secondary pointing menu" style="background-color:white">
    <a class = "item">
        <img src="../ycnlogo.png" class="image">
    </a>
    <a class="item active" href="dashboard">
        Dashboard
    </a>
    <a class="item" href="teams">
        Teams
    </a>
    <a class="item" href="users">
        Users
    </a>
    <a class="item" href="bootcamps">
        Bootcamps
    </a>
    <a class="item" href="skills">
        Skills
    </a>
    <a class="item" href="calendar">
        Calendar
    </a>

    <div class="right menu">
        <a class="ui item" href="login">
            Logout
        </a>
    </div>
</div>
<body>

</body>
</html>