<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>HR-Employee | Teams</title>

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css"/>
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>

    <script src="https://visjs.github.io/vis-network/standalone/umd/vis-network.min.js"></script>
    <script src="../../static/elements.js"></script>

</head>

<div class="ui secondary pointing menu" style="background-color:white">
    <a class = "item">
        <img src="../ycnlogo.png" class="image">
    </a>
    <a class="item" href="/hremployee/dashboard">
        Dashboard
    </a>
    <a class="item active" href="/hremployee/teams">
        Teams
    </a>
    <a class="item" href="/hremployee/users">
        Users
    </a>
    <a class="item" href="/hremployee/bootcamps">
        Bootcamps
    </a>
    <a class="item" href="/hremployee/skills">
        Skills
    </a>
    <a class="item" href="/hremployee/hrcalendar">
        Calendar
    </a>

    <div class="right menu">
        <a class="ui item" href="/logout">
            Logout
        </a>
    </div>
</div>
<body style="background-color: cadetblue">

<div class="ui segment" style="margin-left: 25px; margin-right: 25px;">
    <div>
        <h1 id="devopsteams">DevOps Teams</h1>
    </div>

    <div class="ui tiny icon message">
        <i class="compass icon"></i>
        <div class="content">
            <div class="header">
                DevOps-03-19
                <p>6 Trainees</p>
            </div>
        </div>
        <i class="edit icon"></i>
        <i class="trash alternate icon"></i>
    </div>

    <div class="ui tiny icon message">
        <i class="compass icon"></i>
        <div class="content">
            <div class="header">
                DevOps-02-19
                <p>7 Trainees</p>
            </div>
        </div>
        <i class="edit icon"></i>
        <i class="trash alternate icon"></i>
    </div>

    <div class="ui tiny icon message">
        <i class="compass icon"></i>
        <div class="content">
            <div class="header">
                DevOps-01-19
                <p>5 Trainees</p>
            </div>
        </div>
        <i class="edit icon"></i>
        <i class="trash alternate icon"></i>
    </div>

    <div>
        <button class="ui fluid large teal submit button" type="submit">+ add DevOps Team</button>
    </div>
</div>


<div class="ui segment" style="margin-left: 25px; margin-right: 25px;">
    <div>
        <h1>Java Teams</h1>
    </div>

    <div class="ui tiny icon message">
        <i class="compass icon"></i>
        <div class="content">
            <div class="header">
                Java-02-19
                <p>6 Trainees</p>
            </div>
        </div>
        <i class="edit icon"></i>
        <i class="trash alternate icon"></i>
    </div>

    <div class="ui tiny icon message">
        <i class="compass icon"></i>
        <div class="content">
            <div class="header">
                Java-01-19
                <p>5 Trainees</p>
            </div>
        </div>
        <i class="edit icon"></i>
        <i class="trash alternate icon"></i>
    </div>


    <div>
        <button class="ui fluid large teal submit button" type="submit">+ add Java Team</button>
    </div>
</div>

<div class="ui segment" style="margin-left: 25px; margin-right: 25px;">
    <div>
        <h1>BigData Teams</h1>
    </div>

    <div class="ui tiny icon message">
        <i class="compass icon"></i>
        <div class="content">
            <div class="header">
                BigData-03-19
                <p>6 Trainees</p>
            </div>
        </div>
        <i class="edit icon"></i>
        <i class="trash alternate icon"></i>
    </div>

    <div class="ui tiny icon message">
    <i class="compass icon"></i>
    <div class="content">
        <div class="header">
            BigData-02-19
            <p>5 Trainees</p>
        </div>
    </div>
    <i class="edit icon"></i>
    <i class="trash alternate icon"></i>
    </div>

    <div class="ui tiny icon message">
        <i class="compass icon"></i>
        <div class="content">
            <div class="header">
                BigData-01-19
                <p>8 Trainees</p>
            </div>
        </div>
        <i class="edit icon"></i>
        <i class="trash alternate icon"></i>
    </div>


    <div>
        <button class="ui fluid large teal submit button" type="submit">+ add BigData Team</button>
    </div>
</div>
</body>
</html>