<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:href="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>HR-Employee | Users</title>

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css"/>
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>

    <script src="https://visjs.github.io/vis-network/standalone/umd/vis-network.min.js"></script>
    <script src="../../static/elements.js"></script>

</head>
<body style="background-color: cadetblue">

<div th:insert="~{/hremployee/header :: header}"></div>
<script>$('#users').addClass('active');</script>

<div class="ui segment" style="margin-left: 25px; margin-right: 25px;">
    <div>
        <h1>HR-Employees</h1>
    </div>

    <div class="ui mini icon message" th:each="hremployee:${hremployees}">
        <i class="tiny newspaper icon"></i>
        <div class="content">
            <h3><span th:text="${hremployee.firstName} + ' ' +${hremployee.lastName}"></span></h3>
        </div>

        <form class="ui form" method="get" th:action="@{'/hremployee/appuserinfo/' + ${hremployee.username}}">
            <button class="ui orange inverted button" ><i class ="centered edit icon"></i></button>
        </form>

    </div>


    <div>
        <a class="item" href="register">
            <button class="ui fluid large teal submit button" type="submit">+ add HR-Employee</button>
        </a>
    </div>
</div>

<div class="ui segment" style="margin-left: 25px; margin-right: 25px;">
    <div>
        <h1>Trainees</h1>
    </div>

    <div class="ui mini icon message" th:each="trainee:${trainees}">
        <i class="tiny newspaper icon"></i>
        <div class="content">
            <h3><span th:text="${trainee.firstName} + ' ' + ${trainee.lastName}"></span></h3>
        </div>

        <form class="ui form" method="get" th:action="@{'/hremployee/appuserinfo/' + ${trainee.username}}">
            <button class="ui orange inverted button" ><i class ="centered edit icon"></i></button>
        </form>
    </div>

    <div>
        <a class="item" href="register">
            <button class="ui fluid large teal submit button" type="submit">+ add Trainee</button>
        </a>
    </div>
</div>

<div class="ui segment" style="margin-left: 25px; margin-right: 25px;">
    <div>
        <h1>Managers</h1>
    </div>

    <div class="ui mini icon message" th:each="manager:${managers}">
        <i class="newspaper icon"></i>
        <div class="content">
            <h3><span th:text="${manager.firstName} + ' ' + ${manager.lastName}"></span></h3>
        </div>

        <form class="ui form" method="get" th:action="@{'/hremployee/appuserinfo/' + ${manager.username}}">
            <button class="ui orange inverted button" ><i class ="centered edit icon"></i></button>
        </form>
    </div>


    <div>
        <a class="item" href="register">
            <button class="ui fluid large teal submit button" type="submit">+ add Manager</button>
        </a>
    </div>
</div>

<div class="ui segment" style="margin-left: 25px; margin-right: 25px;">
    <div>
        <h1>Talent Managers</h1>
    </div>

    <div class="ui mini icon message" th:each="talentmanager:${talentmanagers}">
        <i class="newspaper icon"></i>
        <div class="content">
        <h3><span th:text="${talentmanager.firstName} + ' ' + ${talentmanager.lastName}"></span></h3>
        </div>

        <form class="ui form" method="get" th:action="@{'/hremployee/appuserinfo/' + ${talentmanager.username}}">
            <button class="ui orange inverted button" ><i class ="centered edit icon"></i></button>
        </form>
    </div>

    <div>
        <a class="item" href="register">
            <button class="ui fluid large teal submit button" type="submit">+ add Talent Manager</button>
        </a>
    </div>
</div>

</body>
</html>